.ourPrinciples {
    display: flex;
    flex-direction: column;
    min-height: 429px;
    background-color: var(--secondary-white);
    padding: 35px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(231px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin: auto;
}

.principle {
    background-color: var(--white);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: var(--primary-transition);
    cursor: pointer;

    i {
        font-size: 2.5rem;
        color: var(--black);
        margin-bottom: 20px;
        transition: var(--primary-transition);

        &:hover {
            color: var(--primary-color);
            transform: rotate(360deg);
        }
    }

    h4 {
        margin-bottom: 10px;
        font-family: "Nunito Sans", sans-serif;
        transition: var(--primary-transition);
    }

    &:hover {
        transform: translateY(-10px);
    }

    &:hover h4 {
        transform: translateY(-5px);
        color: var(--primary-color);
    }
}