.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 600px;
    max-width: 1152px;
    width: 90%;
    margin: 0 auto;
    color: var(--primary-dark-color);
}