.option {
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        color: var(--white);
        font-size: 14px;
        margin-right: 2px;
        z-index: 1;
    }

    input {
        position: absolute;
        z-index: 10;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;

        &:checked~.visual {
            transform: scale(1.1);
            box-shadow: 0 0 0 2px var(--secondary-white); // кружок
        }

        &:checked~.effect {
            transform: scale(4);
        }
    }

    .visual {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background: var(--primary-color); // фон
        padding: 1rem;
        box-shadow: 0 1px 2px 0 var(--filter-shadow-color);
        transition: all 0.3s ease;
    }

    .effect {
        position: absolute;
        z-index: -10;
        height: 100%;
        width: 100%;
        transform: scale(0);
        border-radius: 50%;
        background: var(--primary-color); // тень
        transition: transform 0.5s ease;
    }
}

.wb {
    .visual {
        background: var(--primary-wb-bg);
    }

    .effect {
        background: var(--secondary-wb-bg);
    }
}

.ozon {
    .visual,
    .effect {
        background: var(--ozon-color);
    }
}

.ym {
    .visual,
    .effect {
        background: linear-gradient(45deg, var(--primary-ym-color), var(--secondary-ym-color));
    }
}

.ali {
    .visual,
    .effect {
        background: var(--aliexpress-color);
    }
}