/* Glogal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Basic colors */
:root {
    --black: #000000;
    --white: #ffffff;
    --green: #008000;
}

/* Primary colors */
:root {
    --primary-color: #6c5ce7;
    --primary-opacity-color: #9082ff2f;
    --primary-gray: #636e72;
    --primary-dark-color: #2d3436;
}

/* Secondary colors */
:root {
    --secondary-color: #a29bfe;
    --secondary-white: #f5f6fa;
    --secondary-dark-color: #333;
    --secondary-gray: #666;
}

/* Transition */
:root {
    --primary-transition: all .3s ease-in-out;
}

/* Shadows */
:root {
    --header-shadow: 0 15px 20px var(--primary-opacity-color),
        0 -5px 15px #ffe9fb4d;
    --filter-shadow-color: #0000004d;
}

/* Wish */
:root{
    --wish-dark-color: #222;
    --wish-description-color: #555;
}

/* Markets colors */
:root {
    --primary-wb-bg: linear-gradient(45deg, #ed3cca, #7d18f8);
    --secondary-wb-bg: linear-gradient(15deg, #d32dd8, #940df2);

    --ozon-color: #1669ff;

    --primary-ym-color: #fce000;
    --secondary-ym-color: #ff5226;

    --aliexpress-color: #fe2722;
}

/* General for buttons */
button {
    cursor: pointer;
    border: none;
}